// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
//@import 'variables';
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
// Fontawesome
@import "~font-awesome/scss/font-awesome";
// Select2
@import "~select2/dist/css/select2.css";
// iCheck
@import "~icheck/skins/flat/orange.css";
// AdminLTE
@import "~admin-lte/dist/css/AdminLTE";
@import "~admin-lte/dist/css/skins/skin-yellow";

// Trumbowyg
@import "~trumbowyg/dist/ui/sass/trumbowyg";

.content-wrapper {
    min-height: 1000px;

    & .content-header {
        & .breadcrumb {
            position: initial;
            float: left;
            margin-bottom: 10px;
        }
    }

    & .content {
        margin-top: 30px;
    }
}
