
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// AdminLTE
@import "~admin-lte/dist/css/AdminLTE";
@import "~admin-lte/dist/css/skins/skin-yellow";

.content-wrapper {
    min-height: 1000px;

    & .content-header {
        & .breadcrumb {
            position: initial;
            float: left;
            margin-bottom: 10px;
        }
    }

    & .content {
        margin-top: 30px;
    }
}
